
###> symfony/framework-bundle ###
/.env.local
/.env
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/.vscode/
/.vscode/sftp.json
###< symfony/framework-bundle ###

###> lexik/jwt-authentication-bundle ###
/src/config/jwt/*
###< lexik/jwt-authentication-bundle ###

/bolatoki
/bolatoki.pub